<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<article id="header">
    <nav>
        <img class="circle1" id="me" src="../../design/me.jpg"/>
        <img id="img" name="github" src="../../design/icon-github.png"/>
        <a href="about.html">关于</a>
        <a href="works.html">作品</a>
        <a href="article.html">文章</a>
        <a href="resume.html">首页</a>

        <div style="clear:both;"></div>
    </nav>
</article>
<article id="about">
    <section>
        <div class="circle3">
            <img class="circle4 me" src=""/></div>
        <div class="circle5">
            <img class="circle6 phone" src="../../design/phone.jpg"/></div>
        <div class="circle5">
            <img class="circle6" src="../../design/school.jpg"/><label id="lb1">2011年</label><label
                id="lb2">2015年</label></div>
        <div class="circle5">
            <img class="circle6" src="../../design/company.jpg"/><label id="lb3">2015年</label></div>
        <div class="circle5">
            <img class="circle6" src="../../design/project.jpg"/><label id="lb4">2015年</label><label
                id="lb5">2015年</label><label id="lb6">2015年</label></div>
        <div id="left-about">
            <div>
                <h1>基本信息</h1>
            </div>
            <div>
                <h1>联系方式</h1>
            </div>
            <div>
                <h1>教育经历</h1>
            </div>
            <div>
                <h1>实习经历</h1>
            </div>
            <div>
                <h1>项目经历</h1>
            </div>
        </div>
        <div id="right-about">
            <div>
                <p>姓名：熊宇</p>
                <p>出生日期：1992年12月19日</p>
                <p>家乡：湖北咸宁</p>
                <p>爱好：跑步、音乐、电影、编程</p>
            </div>
            <div>
                <p><img src="../../design/tel.jpg" />15968997233</p>

                <p><img src="../../design/qq.jpg" />1538172955</p>

                <p><img src="../../design/weixin.jpg" />elbbub-</p>

                <p><img src="../../design/sina.jpg" />泡沫9水灵灵</p>
            </div>
            <div>
                <p>湖南大学·计算机科学与技术·智能科学与技术</p>

                <p>浙江大学·软件工程·大数据开发与应用技术</p>
            </div>
            <div>
                <p>宁波华数广电网络有限公司·信息管理平台</p>

                <p>javaweb开发实习生</p>

                <p>
                    跟项目主管和另两个组员一起开发该公司的人员事务管理系统。通过近两个月的经历对开发javaweb项目有了深刻的认识和体验，实际项目的实践，让我体会到企业项目的严格和规范，分工合作也非常重要，团结互助才能更好完成任务。对我的自学能力，编码能力等有了很大提升。</p>
            </div>
            <div>
                <p>IOT-JavaWeb中间件平台</p>

                <p>前端开发</p>

                <p>专利数据可视化</p>

                <p>前端开发</p>

                <p>浙江大学软件学院图书馆系统升级改造</p>

                <p>前端重构</p>
            </div>
        </div>
    </section>
</article>
<footer id="footer">
    <p>
        <a href="resume.html">首页</a>
        <a href="article.html">文章</a>
        <a href="works.html">作品</a>
        <a href="about.html">关于</a></p>
    <hr>
    <ul>
        <li id="stu">
            <h4>网站推荐</h4>
            <ul>
                <li><a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭-鑫空间-鑫生活</a></li>
                <li><a href="http://www.cnblogs.com/TomXu/" target="_blank">汤姆大叔的博客</a></li>
                <li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰的个人网站</a></li>
                <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
                <li><a href="https://segmentfault.com/" target="_blank">segmentfault</a></li>
                <li><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></li>
                <li><a href="http://blog.jobbole.com/" target="_blank">博客-伯乐在线</a></li>
            </ul>
        </li>
        <li id="link">
            <h4>友情链接</h4>
            <ul>
                <li><a href="http://blog.csdn.net/u010147288" target="_blank">泡沫水灵灵的博客</a></li>
                <li><a href="http://weibo.com/u/2704130365/home?wvr=5&sudaref=security.weibo.com" target="_blank">泡沫水灵灵的微博</a>
                </li>
                <li><a href="http://lysongzi.com/" target="_blank">林友松のcoder</a></li>
                <li><a href="http://www.codeceo.com/" target="_blank">码农网</a></li>
                <li><a href="http://www.cnblogs.com/" target="_blank">博客园</a></li>
                <li><a href="https://www.zhihu.com/" target="_blank">知乎</a></li>
                <li><a href="http://www.2cto.com/" target="_blank">红黑联盟</a></li>
                <li><a href="http://gold.xitu.io/#/" target="_blank">稀土掘金</a></li>
            </ul>
        </li>
        <li id="study">
            <h4>学习资料</h4>
            <ul>
                <li><a href="http://qun.jikexueyuan.com/web/topic/274" target="_blank">前端干货分享</a></li>
                <li><a href="http://w3school.com.cn/" target="_blank">w3school在线教程</a></li>
                <li><a href="http://www.apjs.net/" target="_blank">AnjularJS中文网</a></li>
                <li><a href="http://nodejs.cn/" target="_blank">Node.js中文网</a></li>
                <li><a href="http://efe.baidu.com/" target="_blank">百度EFE</a></li>
                <li><a href="http://fis.baidu.com/" target="_blank">FIS3前端工程构建工具</a></li>
            </ul>
        </li>
        <li id="stud">
            <h4>书屋必备</h4>
            <ul>
                <li><a href="resume.html" target="_blank">JavaScript高级程序设计</a></li>
                <li><a href="resume.html" target="_blank">Head First JavaScript</a></li>
                <li><a href="resume.html" target="_blank">Head First HTML与CSS、XHTML</a></li>
                <li><a href="resume.html" target="_blank">CSS权威指南</a></li>
                <li><a href="resume.html" target="_blank">HTML5秘籍</a></li>
                <li><a href="resume.html" target="_blank">HTTP权威指南</a></li>
                <li><a href="resume.html" target="_blank">剑指offer</a></li>
            </ul>
        </li>
        <li id="friendlink">
            <h4>轻松天地</h4>
            <ul>
                <li><a href="http://bbs.jiyifa.cn/" target="_blank">记忆法论坛</a></li>
                <li><a href="http://tuhaonet.com/" target="_blank">土豪网</a></li>
                <li><a href="http://www.itmian4.com/" target="_blank">IT面试</a></li>
                <li><a href="https://www.douban.com/people/143523117/" target="_blank">豆瓣douban</a></li>
                <li><a href="http://www.bilibili.com/" target="_blank">哔哩哔哩弹幕视频网</a></li>
            </ul>
        </li>
    </ul>
    <div>
        <p>版权信息</p>
        <img name="github" src="../../design/icon-github.png"/>
    </div>
</footer>
<script type="text/javascript">
    $(function () {
        window.onload = function () {
            changepic();
        }
        var pic = ["../../design/me.jpg", "../../design/me1.png"];
        var i = 0;

        function changepic() {
            if (i > pic.length - 1) {
                i = 0;
            }
            var c = document.getElementsByClassName("circle4");
            c[0].src = pic[i];
            i++;
            setTimeout(changepic, 4000);
        }
    })
</script>
</body>
</html>