<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>作品</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<div>
    <article id="header">
        <nav>
            <img class="circle1" id="me" src="../../design/me.jpg"/>
            <img id="img" name="github" src="../../design/icon-github.png"/>
            <a href="about.html">关于</a>
            <a href="works.html">作品</a>
            <a href="article.html">文章</a>
            <a href="resume.html">首页</a>

            <div style="clear:both;"></div>
        </nav>
    </article>
    <article id="works">
        <section>
            <div id="tabs">

                <a>ALL</a>
                <a>JavaScript UtilFunctions</a>
                <a>UI Components</a>
                <a>Framework</a>
                <a>Application</a>

                <div class="all">
                    <ul>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>


                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>

                            <ul><h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>
                            <ul>
                                <h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <li>
                            <canvas></canvas>
                            <ul>

                                <h1>标题</h1>

                                <p>内容内容内容内容</p></ul>
                        </li>
                        <!--更多的li-->
                    </ul>
                </div>
                <div class="js">222</div>
                <div class="ui">333</div>
                <div class="framework">444</div>
                <div class="application">555</div>
            </div>
            <div id="loading">
                <span></span>

                <p>点击查看更多</p>
            </div>
        </section>
        <aside id="aside" style="margin-top: 95px;">
                <span id="search">
                    <span class="search-icon"></span>
                    <input class="su" type="text" placeholder="        Keywords"/>
                    <span><input class="go" type="submit" value="GO"/></span>
                </span>

            <div id="top">
                <label>人气排行榜</label>
                <ol>
                    <li>
                        <canvas id="c1"></canvas>
                        <canvas id="r1"></canvas>
                        <p>ui.tree</p>
                    </li>
                    <li>
                        <canvas id="c2"></canvas>
                        <canvas id="r2"></canvas>
                        <p>util.trim</p>
                    </li>
                    <li>
                        <canvas id="c3"></canvas>
                        <canvas id="r3"></canvas>
                        <p>app.todo</p>
                    </li>
                    <li>
                        <canvas id="c4"></canvas>
                        <canvas id="r4"></canvas>
                        <p>ui.tab</p>
                    </li>
                    <li>
                        <canvas id="c5"></canvas>
                        <canvas id="r5"></canvas>
                        <p>util.addClass</p>
                    </li>
                </ol>
            </div>
        </aside>
    </article>
    <footer id="footer">
        <p>
            <a href="resume.html">首页</a>
            <a href="article.html">文章</a>
            <a href="works.html">作品</a>
            <a href="about.html">关于</a></p>
        <hr>
        <ul>
            <li id="stu">
                <h4>网站推荐</h4>
                <ul>
                    <li><a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭-鑫空间-鑫生活</a></li>
                    <li><a href="http://www.cnblogs.com/TomXu/" target="_blank">汤姆大叔的博客</a></li>
                    <li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰的个人网站</a></li>
                    <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
                    <li><a href="https://segmentfault.com/" target="_blank">segmentfault</a></li>
                    <li><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></li>
                    <li><a href="http://blog.jobbole.com/" target="_blank">博客-伯乐在线</a></li>
                </ul>
            </li>
            <li id="link">
                <h4>友情链接</h4>
                <ul>
                    <li><a href="http://blog.csdn.net/u010147288" target="_blank">泡沫水灵灵的博客</a></li>
                    <li><a href="http://weibo.com/u/2704130365/home?wvr=5&sudaref=security.weibo.com" target="_blank">泡沫水灵灵的微博</a></li>
                    <li><a href="http://lysongzi.com/" target="_blank">林友松のcoder</a></li>
                    <li><a href="http://www.codeceo.com/" target="_blank">码农网</a></li>
                    <li><a href="http://www.cnblogs.com/" target="_blank">博客园</a></li>
                    <li><a href="https://www.zhihu.com/" target="_blank">知乎</a></li>
                    <li><a href="http://www.2cto.com/" target="_blank">红黑联盟</a></li>
                    <li><a href="http://gold.xitu.io/#/" target="_blank">稀土掘金</a></li>
                </ul>
            </li>
            <li id="study">
                <h4>学习资料</h4>
                <ul>
                    <li><a href="http://qun.jikexueyuan.com/web/topic/274" target="_blank">前端干货分享</a></li>
                    <li><a href="http://w3school.com.cn/" target="_blank">w3school在线教程</a></li>
                    <li><a href="http://www.apjs.net/" target="_blank">AnjularJS中文网</a></li>
                    <li><a href="http://nodejs.cn/" target="_blank">Node.js中文网</a></li>
                    <li><a href="http://efe.baidu.com/" target="_blank">百度EFE</a></li>
                    <li><a href="http://fis.baidu.com/" target="_blank">FIS3前端工程构建工具</a></li>
                </ul>
            </li>
            <li id="stud">
                <h4>书屋必备</h4>
                <ul>
                    <li><a href="resume.html" target="_blank">JavaScript高级程序设计</a></li>
                    <li><a href="resume.html" target="_blank">Head First JavaScript</a></li>
                    <li><a href="resume.html" target="_blank">Head First HTML与CSS、XHTML</a></li>
                    <li><a href="resume.html" target="_blank">CSS权威指南</a></li>
                    <li><a href="resume.html" target="_blank">HTML5秘籍</a></li>
                    <li><a href="resume.html" target="_blank">HTTP权威指南</a></li>
                    <li><a href="resume.html" target="_blank">剑指offer</a></li>
                </ul>
            </li>
            <li id="friendlink">
                <h4>轻松天地</h4>
                <ul>
                    <li><a href="http://bbs.jiyifa.cn/" target="_blank">记忆法论坛</a></li>
                    <li><a href="http://tuhaonet.com/" target="_blank">土豪网</a></li>
                    <li><a href="http://www.itmian4.com/" target="_blank">IT面试</a></li>
                    <li><a href="https://www.douban.com/people/143523117/" target="_blank">豆瓣douban</a></li>
                    <li><a href="http://www.bilibili.com/" target="_blank">哔哩哔哩弹幕视频网</a></li>
                </ul>
            </li>
        </ul>
        <div>
            <p>版权信息</p>
            <img name="github" src="../../design/icon-github.png"/>
        </div>
    </footer>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript">
    $(function () {
        window.onload = function () {
            var fx = new Array(98, 90, 80, 67, 40);
            for (var i = 0; i < 5; i++) {
                drawworks(i + 1, fx[i]);
            }
            var colorhover = ["#5900B2", "#522A5C", "#5900B2", "#8C2300", "#D9A300"];
            var color = ["#DFC6E6", "#D657FF", "#9B5FFF", "#B4683A", "#B49B3D"];
            var tab = document.getElementById("tabs");
            var tab_a = tab.getElementsByTagName("a");
            var tab_content = tab.getElementsByTagName("div");
            show_tab_content(index(tab_a[0], tab_a));
            for (var i = 0, l = tab_a.length; i < l; i++) {
                tab_a[i].style.borderTopColor = color[i];
                tab_a[0].style.borderTopColor = colorhover[0];
                tab_a[i].onclick = function () {
                    show_tab_content(index(this, tab_a));
                }
            }
            function show_tab_content(i) {
                for (var j = 0, l = tab_content.length; j < l; j++) {
                    tab_a[j].style.borderBottom = "1px solid #000000";
                    tab_a[j].style.borderTopColor = color[j];
                    tab_content[j].style.zIndex = 0;
                }
                tab_a[i].style.borderBottom = "0";
                tab_a[i].style.borderTopColor = colorhover[i];
                tab_content[i].style.zIndex = 1;
            }
        }
        //瀑布流函数
        var lis = $(".all").children("ul").children("li");
        var li_height = {C1: [], C2: [], C3: [], C4: []};
        var li_imgtotal = lis.children("canvas");
        var lisspan = $(".all").children("ul").children("li").children("ul");
        for (var i = 0; i < lis.length; i++) {
            //li的高度和宽度
            lis.eq(i).css("height", parseInt(200 + Math.random() * 50 + "px"));
            //lis.eq(i).css("border", "1px solid");
            //canvas的高度和宽度
            var liw = parseInt(170);
            var lih = parseInt(150 + Math.random() * 50);
            li_imgtotal.eq(i).css("width", liw + "px");
            li_imgtotal.eq(i).css("height", lih + "px");
            li_imgtotal[i].id = "pubuliu" + i;
            var img = new Image();
            img.src = '../../design/pubuliu/' + i + '.jpg';
            draw2(li_imgtotal[i].id, img, liw, lih);
            var col = i % 4;
            switch (col) {
                case 0:
                    lis.eq(i).css("left", "5px");
                    li_height.C1.push(parseInt(lis.eq(i).css("height")));
                    var row = Math.floor(i / 4);
                    if (!row) {
                        lis.eq(i).css("top", "0");
                    } else {
                        var top = 0;
                        for (var j = 0; j < row; j++) {
                            top += li_height.C1[j];
                            top+=10;
                        }
                        lis.eq(i).css("top", top + "px");
                    }
                    break;
                case 1:
                    lis.eq(i).css("left", "190px");
                    li_height.C2.push(parseInt(lis.eq(i).css("height")));
                    var row = Math.floor(i / 4);
                    if (!row) {
                        lis.eq(i).css("top", "0");
                    } else {
                        var top = 0;
                        for (var j = 0; j < row; j++) {
                            top += li_height.C2[j];
                            top+=10;
                        }
                        lis.eq(i).css("top", top + "px");
                    }
                    break;
                case 2:
                    lis.eq(i).css("left", "375px");
                    li_height.C3.push(parseInt(lis.eq(i).css("height")));
                    var row = Math.floor(i / 4);
                    if (!row) {
                        lis.eq(i).css("top", "0");
                    } else {
                        var top = 0;
                        for (var j = 0; j < row; j++) {
                            top += li_height.C3[j];
                            top+=10;
                        }
                        lis.eq(i).css("top", top + "px");
                    }
                    break;
                case 3:
                    lis.eq(i).css("left", "560px");
                    li_height.C4.push(parseInt(lis.eq(i).css("height")));
                    var row = Math.floor(i / 4);
                    if (!row) {
                        lis.eq(i).css("top", "0");
                    } else {
                        var top = 0;
                        for (var j = 0; j < row; j++) {
                            top += li_height.C4[j];
                            top+=10;
                        }
                        lis.eq(i).css("top", top + "px");
                    }
                    break;
            }
            //文字部分的高度和宽度
            //lisspan[i].style.display = "block";
            //lisspan[i].cssheight = lis.eq(i).cssheight - li_imgtotal.eq(i).cssheight;
            lisspan[i].style.backgroundColor = "rgb(" + parseInt(Math.random() * 255) + "," + parseInt(Math.random() * 255) + "," + parseInt(Math.random() * 255) + ")";
        }
    });

    function draw2(id, img, w, h) {
        var canvas = document.getElementById(id).getContext('2d');
        img.onload = function () {
            canvas.drawImage(img, 0, 0, w, h);
        }
    }
    function index(current, obj) {
        for (var i = 0, l = obj.length; i < l; i++) {
            if (obj[i] == current)
                return i;
        }
    }
    function drawworks(i, x) {
        var idc = "c" + i;
        var idr = "r" + i;
        var canvasc = document.getElementById(idc);
        canvasc.width = 30;
        canvasc.height = 18;
        var contextc = canvasc.getContext('2d');
        var canvasr = document.getElementById(idr);
        canvasr.width = 98;
        canvasr.height = 16;
        canvasr.style.border = "1px solid #4B0082";
        canvasr.style.marginBottom = "10px";
        var contextr = canvasr.getContext('2d');
        //绘制圆形
        contextc.beginPath();
        contextc.fillStyle = "#4B0082";
        contextc.arc(10, 10, 8, 0, Math.PI * 2, true);
        contextc.closePath();
        contextc.fill();
        //绘制序号
        contextc.font = "15px sans-serif";
        contextc.fillStyle = 'rgba(988,377,0,1)';
        contextc.fillText(i, 6.8, 14.5);
        contextc.fillStyle = "white";
        //绘制矩形条
        contextr.fillStyle = "#4B0082";
        contextr.fillRect(0, 0, x, 16);
    }
</script>
</body>
</html>